@import url(https://fonts.bunny.net/css?family=merriweather:300,400,700,900|roboto:100,300,400,500);
/* font-family: 'Merriweather', serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Projects
        4.4 Services
 */
    /*5. Media Queries*/
 /*////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0C0C0C;
    --light-purple: #F2F0FF;
    --light-gray: #F3F6F9;
    --gray: #7A7A7A;
}

button {
    background-color: var(--pink);
    color: white;
    border: transparent;
    padding: 1.3em 1em;
    width: 230px;
    align-self: center;
    text-transform: uppercase;
    border-radius: 50px 50px;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;


}
/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', sans-serif;
}

.services h4 {
    color: var(--purple);
}

.services p {
    color: var(--gray);
}

.link-tag {
    color: var(--purple);
    text-decoration: none;
}

.link-tag:hover {
    color: var(--pink);
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header, .contact-form {
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100%;
    /*border: 3px solid pink;*/
    height: 650px;
    background: rgb(72,69,228);
    background: radial-gradient(circle, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
    color: white;
}

.nav-outer-container {
    display: flex;
    width: 100%;
    /*border: 2px solid green;*/
    justify-content: flex-end;
    padding-top: 1em;
    }

.nav-inner-container {
    display: flex;
    /*border: 2px solid red;*/
    justify-content: flex-end;
    list-style: none;
    gap:2em;
    margin: 1em 2em;
}

.header-content-outer-container {
    display: flex;
    /*border: 2px solid red;*/
    margin-top: 7em;
    justify-content: center;
}

.header-content-inner-container {
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-basis: 1200px;
    flex-shrink: 1;
}

.header-title {
    width: 850px;
    align-self: center;
    font-size: 46px;
    flex-shrink: 1;
}

.header-paragraph {
    font-size: 24px;
    font-weight: 300;
}

.header-squiggle-line-outer-container{
    position: relative;
}

.squiggle-line {
    position: absolute;
    top: 100px;
    left: -35px;
}

/* --------------- 4.2 Introduction ------------------- */
.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 5em 0;
}
.introduction > h3:nth-child(-n+3) {
    color: var(--purple);
    font-size: 1.8em;
    font-weight: 600;
    width: 850px;
}

.introduction > h3:nth-child(4) {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* --------------- 4.3 Projects ------------------- */
.projects {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    text-align: left;
    /*border: 3px solid pink;*/
    width: 100%;
    align-items: center;
    padding: 3em 0;
}

.project {
    display: flex;
    /*border: 3px solid black;*/
    padding: 2em 2em;
    max-width: 1200px;
    justify-content: center;
    gap: 8em;
    margin: 0 2em;
}

.project > article {
    display: flex;
    flex-direction: column;
    /*border: 3px solid green;*/
    gap: 2em;
    justify-content: center;
    flex: 1;
}

.paragraph-squiggle {
    width: 50px
}

.project-paragraph {
    width: 300px;
    /*border: 2px solid pink;*/
    font-weight: 500;
}

.project-image-wrapper {
    flex-basis: 600px;
}

.project-image {
    width: 100%;
    box-shadow: -1px 22px 33px -10px rgba(56,56,56,0.65);
}

.project-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    color: var(--purple);
    cursor: pointer;
}

.project-2 {
    flex-direction: row-reverse;
}

/* --------------- 4.4 Services ------------------- */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    text-align: left;
    margin: 5em 2em;
}

.services-inner-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2em;
    max-width: 1200px;
}

.service-article {
    border: 2px solid var(--purple);
    padding: 2.5em;
    box-shadow: 2px 29px 15px -20px rgba(222,222,222,1);
    min-width: auto;
    min-height: 300px;
    overflow: hidden;
}


.services-icon {
    width: 60px;
}

.service-article h4 {
    margin: 0.7em 0 1.8em 0;
    font-size: 1.3em;
}

/* --------------- 4.5 Contact Form ------------------- */




/* ------------------------------- 5. Media Queries -------------------------------- */